    .absolute {
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 100vw;
    	height: 100vh;
    	z-index: -1;
    	background-size: cover;
    }
    #background {
        border-style: dotted;
        border-color: white;
        height: 700px;
    }
    #header {
        position: relative;
        background-color:rgba(255, 255, 255, 0.7);
        border-radius: 15px;
        color: black;
        font-family: verdana;
        font-size: 4.5em;
        top: 1em;
        
    }
    span {
        color: black;
        font-family: verdana;
        font-size: 2em;
    }
    #desc {
        color: black;
        font-family: verdana;
        font-size: 1.5em; 
    }
    #currentWeather {
        position: relative;
        top: 7em;
        background-color:rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        height: 25em;
        /*overflow: auto;*/
    }
    #otherWeatherInfo {
        position: relative;
        top: 10em;
        background-color:rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        height: 20em;
        overflow: auto;
    }
    .wi {
        font-size: 2.5em;
        color: black;
    }
    #icon {
       font-size: 4em; 
    }
